html{
  font-size: 62.5%;
  box-sizing: border-box ;
}

body {
  height:100vh;
  font: 1.6rem Helvetica;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.grid-container{
  display: grid;
  background-color: #ffffff;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  height:100%;
}

.Main{
  display: grid;
  transition: margin-left .5s;
  padding: 16px;       
  grid-template-rows: 3fr 1fr 4fr 1fr 4fr;
  grid-template-columns: 1fr 1fr;     
  grid-gap:2rem; 
}
#Carousel{
  background-image: linear-gradient(to bottom right,#000000,#ff0000);
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  height:20vh;
}
#Announcement{
  background-image: linear-gradient(to bottom,#0011ff,#008000,#ffffff);
  display: flex;
  color: #f5f5f5;
  justify-content: center;
  align-items: center;
}
#link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9acd32;
}
.item{
  background-color: #f5deb3;
  border: #000000;
}
.item:first-child{
  grid-column-start: 1;
  grid-column-end: 3;
}
.item:last-child{
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end:6;
}
