* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #000000;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
  stroke-dasharray: 269px;
  stroke-dashoffset: 269px;
  animation: line-stroke 3s ease forwards 0.1s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 220px;
  stroke-dashoffset: 220px;
  animation: line-stroke 3s ease forwards 0.4s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 194px;
  stroke-dashoffset: 194px;
  animation: line-stroke 3s ease forwards 0.7s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 214px;
  stroke-dashoffset: 214px;
  animation: line-stroke 3s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  animation: line-stroke 3s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 220px;
  stroke-dashoffset: 220px;
  animation: line-stroke 3s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 170px;
  stroke-dashoffset: 170px;
  animation: line-stroke 3s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 220px;
  stroke-dashoffset: 220px;
  animation: line-stroke 3s ease forwards 2.1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 237px;
  stroke-dashoffset: 237px;
  animation: line-stroke 3s ease forwards 2.4s;
}

#Vector {
  stroke-dasharray: 377px;
  stroke-dashoffset: 377px;
  animation: line-stroke 3s ease-in-out forwards 5s;
}

/* .appear {
  animation: appear 3s forwards;
} */

#loader {
  animation: moving 10s linear;
  transform-origin: center;
  animation-iteration-count: infinite;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes line-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes moving {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
